/* Chrome, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f9f9f9 !important;
  border-radius: 40px !important;
}

::-webkit-scrollbar-thumb {
  background: #f9f9f9 !important;
  border-radius: 50px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #007bff !important;
}

/* for Firefox */
* {
  scrollbar-width: thin !important;
  scrollbar-color: #007bff #f9f9f9 !important;
}
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
  scrollbar {
    display: none;
  }
}
