html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  overflow-x: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.generator,
.scanner,
#output,
#backBtn {
  margin-top: 20px;
}

input[type="text"],
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

#qrCanvas {
  display: block;
  margin: 20px auto;
  border: 1px solid #ccc;
}
#fileInput,
#stopScanBtn,
#video,
#saveQrBtn,
#backBtn {
  display: none;
}

.info-section {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 100%;
  max-width: 1000px;
}

.info-section h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.info-section p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

.info-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.info-section li {
  margin-bottom: 10px;
}

/* media query for responsiveness */
@media (max-width: 600px) {
  .container {
    padding: 10px;
    border-radius: 5px;
  }

  input[type="text"],
  select,
  button {
    padding: 0.65rem;
    font-size: 1rem;
  }

  #qrCanvas {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.25em;
  }

  #video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: black;
  }
  #backBtn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    display: none;
  }
  .main-content {
    flex-direction: column;
  }

  .info-section {
    margin-top: 20px;
    text-align: justify;
  }
}
footer {
  background-color: #007bff;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-info p {
  margin: 5px 0;
  font-size: 0.9rem;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #fff;
}
